---
layout: default
title: Home
---
<!-- Introduction -->

<div style="text-align: center; margin: 25px;">
  <a href="/about-me/"><img src="/assets/img/pandas.jpg" width="300px" style="border-radius: 50%;" ></a>
  <a href="/about-me/"><h2 style="margin-top: 15px;">ささくらり</h2></a>
  <p style="color: gray; margin-top: 3px;">sasakulari</p>
  {% for item in site.data.settings.social %}
  <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
  {% endfor %}
</div>

<!-- Lyrics -->

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<blockquote style="text-align: center; margin: 25px;" style="white-space: nowrap;">
  <p class="quote">
    <span id="text"></span>
    <span id="artist_title" style="display: none;"></span>
  </p>
  <button style="border: none; background: transparent;" onclick="quote()">
    <i class="fa fa-repeat" aria-hidden="true"></i>
  </button>
  <button style="border: none; background: transparent;">
    <a href="" id="search" style="text-decoration: none;">
      <i class="fa fa-search" aria-hidden="true"></i>
    </a>
  </button>
</blockquote>
<script src="/assets/js/quote.js"></script>

<!-- Posts -->

{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- yude moe -->
<img src="https://moe-counter.yude.jp/get/@:sasakulab" alt=":name" />