---
layout: default
title: Home
---
<!-- Introduction -->

<div style="text-align: center; margin: 25px;">
  <a href="/about-me/"><img src="/assets/img/pandas.jpg" width="300px" style="border-radius: 50%;" ></a>
  <a href="/about-me/"><h2 style="margin-top: 15px;">ささくらり</h2></a>
  <p style="color: gray; margin-top: 3px;">sasakulari</p>
  {% for item in site.data.settings.social %}
  <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
  {% endfor %}
</div>

<!-- Posts -->

{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>

<!-- yude moe -->
<img src="https://moe-counter.yude.jp/get/@:sasakulab" alt=":name" />